// Quick Chat Demo

@import 'helpers'
.original
  font-size 13pt

#content
  margin-top 60px
#demo
  border 1px solid #ccc
  text-align left
  margin 50px auto
  padding 15px
  round 5px
  #myMessage, #chatlog
    border none
    box-shadow inset 0 0 2px #777
    round 5px
  #myMessage
    padding 5px
  #chatlog
    background-color white
    margin 5px 0
    p
      font-size 0.9em
      color #000a68
      padding 3px 9px
      margin 0
    p:first-child
      padding-top 9px
    p:last-child
      padding-bottom 9px
    span.name
      color #000
      padding-right 10px
      text-weight bold
    span.time
      color #666
      float right
      text-align right
      font-size 0.7em

