!!! 5
html(lang="en")
  head
    != SocketStream
    meta(charset="utf-8")
    title Waldo - markdown transrate app
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.brand(href="http://waldo.filepang.co.kr:3000")
            | Waldo
          ul#login.nav.pull-right
    #content.container
      .row
        .span12
          h1 안녕하신가! 힘세고 강한 아침, 만일 내게 물어보면 나는 왈도.
          // QUICK CHAT DEMO
          form#demo(onsubmit='return false')
            h3 아직 아무것도 없어요.
            h5 체팅이나 하면서 놀고계세요.(저장은 안됨)
            #chatlog
            input(id='myMessage', type='text', autocomplete='off')
