!!! 5
html(lang="en")
  head
    != SocketStream
    meta(charset="utf-8")
    title Waldo - markdown translate app
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.brand(href="http://waldo.filepang.co.kr:3000")
            | Waldo
            code beta
          ul#login.nav.pull-right
    header#title
    #content.container-fluid
      .row-fluid
        .span8
          .hero-unit
            h1 Waldo
            p simple markdown translation app
          #preview.modal.hide.fade
            .modal-body
            .modal-footer
              a.btn(href="#", data-dismiss="modal") Close
          table#post.table-condensed.table
            thead
              tr
                th
                th.pull-right.form-inline
                  label
                    | translate from
                    button.btn.btn-small.dropdown-toggle
                      | english
                      span.caret
                  &nbsp;
                  label
                    | to
                    button.btn.btn-small.dropdown-toggle
                      | korean
                      span.caret
                  &nbsp;
                  button.btn.btn-success.btn-small#preview-btn
                    i.icon-eye-open.icon-white
                    |  preview
        .span4
          form#newPost(onsubmit='return false')
            ul#posts.nav.nav-list.well
              li.nav-header url을 넣어서 새로시작
              li
                input(id='url', type='text', autocomplete='off')
              li.nav-header 번역중인 글들
