!!! 5
html(lang="en")
  head
    != SocketStream
    meta(charset="utf-8")
    title Waldo - markdown transrate app
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.brand(href="http://waldo.filepang.co.kr:3000")
            | Waldo
            code beta
          ul#login.nav.pull-right
    #content.container
      .row
        .span12
          h3 번역중인 글들
          #posts
          form#newPost(onsubmit='return false')
            input(id='url', type='text', autocomplete='off')
      .row
        .span12
          #post
