tbody(id="{{_id}}")
  tr
    td(rowspan="2")
      strong {{i}}
    td
     p.original {{original}}
    td
      span.badge {{comments.length}}
  tr
    td
      form(onsubmit='return false')
        input
    td
